/* star */

.star, .star2, .star3, .star4{
    position: fixed;
    inset: 0px;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    z-index: -1;
  }

.star{
    animation: star-scale linear;
    animation-timeline: scroll();
}

  @keyframes star-scale {
    0%{
        transform: scale(2);
        filter: drop-shadow(1px 1px 1px white);
    }
    100%{
        transform: scale(1.525);
        filter: drop-shadow(20px 20px 20px white);
    }
}

.star2{
    animation: star-scale2 linear;
    animation-timeline: scroll(); 
}

@keyframes star-scale2 {
    0%{
        transform: scale(1.525);
        filter: drop-shadow(1px 1px 1px white);
    }
    100%{
        transform: scale(1.05);
        filter: drop-shadow(20px 20px 20px white);
    }
}

.star3{
    animation: star-scale3 linear;
    animation-timeline: scroll();  
}

@keyframes star-scale3 {
    0%{
        transform: scale(1.05);
        filter: drop-shadow(1px 1px 1px white);
    }
    100%{
        transform: scale(0.575);
        filter: drop-shadow(30px 30px 30px white);
    }
}

.star4{
    animation: star-scale4 linear;
    animation-timeline: scroll();
}

@keyframes star-scale4 {
    0%{
        transform: scale(0.575);
        filter: drop-shadow(1px 1px 1px white);
    }
    100%{
        transform: scale(0.1);
        filter: drop-shadow(20px 20px 20px white);
    }
}